#product{
    margin: 10px;
    color: orange;
}
.first{
    font-size: small;
    border-color: aquamarine;
}
/* article p:last-child{
    font-style: italic;
    font-weight: bold;
} */

ul li:nth-child(3n ){
    color: blue;
}
a:visited ,a:link{
    color: teal;
}
a:hover, a:focus{
    color: brown;
}
p::first-line{
    font-weight: bold;
    font-size: large;
    
}
.first-letter{
    font-weight: bold;
}