<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./layout-style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, libero blanditiis maiores neque fugit corrupti vel suscipit ut adipisci laborum non. Aut id corporis repellendus in quod ad soluta dolorum!</p>
        </div>
        <div class="box">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, libero blanditiis maiores neque fugit corrupti vel suscipit ut adipisci laborum non. Aut id corporis repellendus in quod ad soluta dolorum!
            </p>

        </div>
    </div>
    </div>
</body>
</html>